In [6]:
import pandas as pd
data ={
    'emp_id': [101, 102, 103, 101, 102, 104],
    'department': ['Sales', 'IT', 'HR', 'Sales', 'IT', 'Marketing'],
    'quarter': ['Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2'],
    'performance_score': [85, 90, 78, 88, 92, 81]
}

In [47]:
df = pd.DataFrame(data)
df

   emp_id department quarter  performance_score
0     101      Sales      Q1                 85
1     102         IT      Q1                 90
2     103         HR      Q1                 78
3     101      Sales      Q2                 88
4     102         IT      Q2                 92
5     104  Marketing      Q2                 81

In [52]:
avg = df.pivot_table(index='department',
columns = 'quarter',
values = 'performance_score',
aggfunc = "mean")
avg

quarter       Q1    Q2
department
HR          78.0   NaN
IT          90.0  92.0
Marketing    NaN  81.0
Sales       85.0  88.0

In [54]:
# improvement = avg.loc[avg["Q2"].gt(avg["Q1"])]
# print(improvement.index.tolist())