In [1]:
import pandas as pd
import numpy as np
data ={
     "date": [
        "2025-01-01", "2025-01-01", "2025-01-02", "2025-01-02",
        "2025-01-03", "2025-01-03", "2025-01-04", "2025-01-04"
    ],
    "city": [
        "Mumbai", "Delhi", "Mumbai", "Delhi",
        "Mumbai", "Delhi", "Mumbai", "Delhi"
    ],
    "temperature": [30, 25, 31, 26, 29, 24, 32, 27],
    "humidity": [70, 60, 72, 58, 68, 62, 75, 59]
}

In [5]:
df = pd.DataFrame(data)
print(df)

         date    city  temperature  humidity
0  2025-01-01  Mumbai           30        70
1  2025-01-01   Delhi           25        60
2  2025-01-02  Mumbai           31        72
3  2025-01-02   Delhi           26        58
4  2025-01-03  Mumbai           29        68
5  2025-01-03   Delhi           24        62
6  2025-01-04  Mumbai           32        75
7  2025-01-04   Delhi           27        59

In [7]:
city = df[df["city"] == 'Delhi']
print(city)

         date   city  temperature  humidity
1  2025-01-01  Delhi           25        60
3  2025-01-02  Delhi           26        58
5  2025-01-03  Delhi           24        62
7  2025-01-04  Delhi           27        59

In [11]:
city2 = df[df["city"] == 'Mumbai']
print(city2)

         date    city  temperature  humidity
0  2025-01-01  Mumbai           30        70
2  2025-01-02  Mumbai           31        72
4  2025-01-03  Mumbai           29        68
6  2025-01-04  Mumbai           32        75

In [13]:
df = df.sort_values(["city", "date"])
df["3day_avg"] = (df.groupby("city")["temperature"].transform(lambda s:s.rolling(3,min_periods=1).mean()))

In [14]:
df["3day_avg"]

1    25.000000
3    25.500000
5    25.000000
7    25.666667
0    30.000000
2    30.500000
4    30.000000
6    30.666667
Name: 3day_avg, dtype: float64

In [29]:
df = df.sort_values(["city","date"])
df["humidity_increased"] = df.groupby("city")["humidity"].diff().gt(0)
df["humidity_increased"]

1    False
3    False
5     True
7    False
0    False
2     True
4    False
6     True
Name: humidity_increased, dtype: bool

In [28]:
df.loc[df["humidity_increased"],"humidity"]

5    62
2    72
6    75
Name: humidity, dtype: int64