In [1]:
import pandas as pd
data = {
    "student_id": [101, 102, 103, 104, 101, 102, 105, 106, 103, 104],
    "course_id": ["C1", "C1", "C2", "C2", "C3", "C3", "C1", "C2", "C3", "C1"],
    "login_date": [
        "2024-01-01", "2024-01-03", "2024-01-02", "2024-01-05",
        "2024-01-10", "2024-01-08", "2024-01-01", "2024-01-04",
        "2024-01-06", "2024-01-02"
    ],
    "minutes_spent": [30, 45, 20, 60, 50, 40, 25, 35, 45, 55]
}

In [2]:
df = pd.DataFrame(data)
df['login_dste'] = pd.to_datetime(df['login_date'])

In [6]:
df.describe()

       student_id  minutes_spent           login_dste
count     8.00000       8.000000                    8
mean      2.00000      38.125000  2026-01-01 21:00:00
min       1.00000      20.000000  2026-01-01 00:00:00
25%       1.00000      28.750000  2026-01-01 00:00:00
50%       2.00000      37.500000  2026-01-02 00:00:00
75%       3.00000      46.250000  2026-01-02 06:00:00
max       3.00000      60.000000  2026-01-03 00:00:00
std       0.92582      13.346348                  NaN

In [7]:
df

   student_id course_id  login_date  minutes_spent login_dste
0           1        C1  2026-01-01             30 2026-01-01
1           1        C1  2026-01-02             45 2026-01-02
2           1        C2  2026-01-02             20 2026-01-02
3           2        C1  2026-01-01             60 2026-01-01
4           2        C2  2026-01-03             40 2026-01-03
5           3        C1  2026-01-01             25 2026-01-01
6           3        C1  2026-01-02             35 2026-01-02
7           3        C2  2026-01-03             50 2026-01-03

In [9]:
latest_date = df['login_date'].max()
cutoff_date = latest_date - pd.Timedelta(days=7)
last_login = df.groupby("student_id")['login_date'].max()
inactive_

TypeError: unsupported operand type(s) for -: 'str' and 'Timedelta'